@import url("https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Akatab", sans-serif;

  position: relative;
}

.main {
  min-height: 100vh;
}

.home {
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

form {
  flex: auto;
  overflow-y: auto;
}

.footer {
  @media (max-width: 1025px) {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    height: 50px;
    background-color: white;
  }
}

button {
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.3;
    /* background-color: #ccc; */
  }
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(0.95);
  }
}

/* styles/globals.css (ou equivalente) */

.fade-in {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

h1.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.fade-to {
  opacity: 0;

  animation: fadeIn 0.3s linear alternate infinite;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

.question-text {
  font-size: 26px;

  @media (min-width: 1025px) {
    font-size: 32px;
  }
}
